body {
  background-color:rgb(79, 114, 79);
  text-align: center;


}

h1, h2 {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
  font-size: 50px;
}

p {
  font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;
  color:#FF8F00 ;
  font-size: 20px;
}

a {
  text-decoration: none;
  text-decoration: #FF8F00;
}

img {
  font-size: 5px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
}


#link {
  font-family: "Creepster", system-ui;
  font-weight: 400;
  font-style: normal;
  color:#1e3177 ;
  font-size: 15px;
}

.box-green {
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  background-color: #808836;
  border-radius: 7px;
  padding: 20px;
}

.container {
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
  width: 500px;
}

a {
  text-decoration: none;
  background-color: #415e18;
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  transition: 0.3s ease;
}

a:hover {
  background-color: #1a6934;
  margin: 0 auto;
}

.list-inline {
  display: inline-block;
  padding: 0px 20px;
}

ul {
  padding-inline-start: 0px;
}

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
}
